.purchase {
    padding: 20px;
    padding-top: 80px;
}
.purchase h3 {
    text-transform: capitalize;
    border: 1px solid #ddcfc7;
    width: 100%;
    padding: 20px;
    border-radius: 20px 20px 0px 0px;
    font-weight: 400;
}

.purchase-container__ul {
    text-transform: capitalize;
    border: 1px solid #ddcfc7;
    width: 100%;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
}

.purchase__li {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    
}


 