.products-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
html {
    background-color: #F8F8F8;
}